{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

  <div
  id="demo"
  class="carousel slide"
  data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    {% for block in section.blocks %}
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="{{ forloop.index0 }}"
        class="{% if forloop.first %}active{% endif %}"></button>
    {% endfor %}
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    {% for block in section.blocks %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img
          src="{{ block.settings.image | img_url: 'master' }}"
          alt="{{ block.settings.alt_text }}"
          class="d-block w-100">
      </div>
    {% endfor %}
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

{% schema %}
  {
    "name": "Dynamic Carousel",
    "settings": [],
    "blocks": [
      {
        "type": "carousel_item",
        "name": "Carousel Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "alt_text",
            "label": "Alt Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Dynamic Carousel",
        "category": "Custom"
      }
    ]
  }
{% endschema %}