<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }

  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slider .slide {
    height: 100px;
    width: 250px;
  }
</style>

<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
        height="100"
        width="250"
        alt="" />
      <h3>{{ block.settings.title }}</h3>
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
        height="100"
        width="250"
        alt="" />
    </div>
    <div class="slide">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
        height="100"
        width="250"
        alt="" />
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Logo Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Logo Slider"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Logo Slider"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo Slider",
        "category": "Logos",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}