<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }

  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slider .slide {
    height: 100px;
    width: 250px;
  }
</style>

<div class="slider">
  <div class="slide-track">
    {% for block in section.blocks %}
      <div class="slide">
        <img
          src="{{ block.settings.image }}"
          height="100"
          width="250"
          alt="{{ block.settings.logotitle }}" />
        <h3>{{ block.settings.logotitle }}</h3>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Logo Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Logo Slider"
      }
    ],
    "blocks": [
      {
        "type": "Logo",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "logotitle",
            "label": "Title",
            "default": "Logo Slider"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo Slider",
        "category": "Logos",
        "blocks": [
          {
            "type": "Logo"
          }
        ]
      }
    ]
  }
{% endschema %}