<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-400px * 7));
    }
  }

  .slider {
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }

  .slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(400px * 14);
  }

  .slider .slide {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .slider .slide i {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .slide-content {
    justify-content: center;
    align-items: center;
    display: flex;
  }
</style>

<div class="slider">
  <div class="slide-track">
    {% for block in section.blocks %}
      <div class="slide">
        <div class="slide-content">
          <i class="fas fa-{{ block.settings.icon }}"></i>
          <h3>{{ block.settings.logotitle }}</h3>
          <p>{{ block.settings.logotext }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Logo Slider",
    "settings": [],
    "blocks": [
      {
        "type": "Logo",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon",
            "default": "home"
          }, {
            "type": "text",
            "id": "logotitle",
            "label": "Logo Title",
            "default": "Logo Slider"
          }, {
            "type": "text",
            "id": "logotext",
            "label": "Logo Text",
            "default": "Logo Slider"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo Slider",
        "category": "Logos",
        "blocks": [
          {
            "type": "Logo"
          }
        ]
      }
    ]
  }
{% endschema %}