.carousel-item {
  transition: opacity 0.5s ease-in-out; /* 确保过渡效果合理 */
  background-color: transparent; /* 确保背景颜色一致 */
}
.carousel-item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .carousel-item img {
    object-position: center top; /* Adjust position for mobile */
  }
}

@media (max-width: 1024px) {
  .carousel-item img {
    object-position: center center; /* Adjust position for tablet */
  }
}
