.carousel-item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .carousel-item img {
    object-position: center top; /* Adjust position for mobile */
  }
}

@media (max-width: 1024px) {
  .carousel-item img {
    object-position: center center; /* Adjust position for tablet */
  }
}
